.hrow{
    padding: 0;
    margin: 0;
}

.pagebody{
    margin: auto 30%;
    padding: 0;
    text-align: center;
}

.profilephoto{
    border-radius: 50%;
    border: solid 1px #71D16D;
    width: 45%;
}

.quem{
    line-height: 2.5rem;
}

.social-icon{
    height: 5vh;
}

.back{
    margin: 1rem;
}

@media screen and (max-width: 992px){
    .pagebody{
        margin: auto 20%;
    }

    .profilephoto{
        width: 40%;
    }

    .social-icon{
        height: 10vh;
        padding-bottom: 2%;
    }
}

@media screen and (max-width: 576px){
    .pagebody{
        margin: 2vh 2%;
        height: 100%;
    }

    .profilephoto{
        width: 45vw;
    }

    .social-icon{
        height: 5vh;
        padding: 0;
    }

    .back{
        margin: 1rem auto 2.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .profilephoto{
        width: 60%;
    }

    .social-icon{
    height: 6vh;
    }
}