:root{
    font-size: 62.5%;
    font-family: sans-serif;
}

.container-fluid{
    padding: 0;
    margin:0;
    font-size: 1.4rem;
}

.bg{
    background: url(../images/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.bg-mask{
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;
    width: 100%;
    padding: 0 0 2% 0;
    margin: 0;
    overflow-y: auto;
}

.topmenu{
    background-color: black;
    color: white;
    margin: 0;
}

.logo{
    width: 1.9vw;
}

.shoppingcart{
    width: .9vw;
}

.tracking-lettering{
    letter-spacing: .2rem;
}

.btn-dark-hover:hover{
    background-color: grey;
}

.hrow{
    padding: 0;
    margin: 0 36%;
}

.pagebody{
    padding: 0;
}

.footer{
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    padding: .3rem;

}

@media screen and (max-width: 992px){
    .logo{
        width: 4.5vw;
    }

    .fixedsize{
        width: fit-content;
    }

    .shoppingcart{
        width: 1.5vw;
    }
    
    .hrow{
        margin: 0 10%;
    }

    .pagebody{
        padding: 0;
    }
}

@media screen and (max-width: 576px){
    .logo{
        width: 13vw;
    }

    .shoppingcart{
        width: 3.3vw;
    }
    
    .hrow{
        margin: 0 3%;
    }

    .pagebody{
        padding: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .logo{
        width: 3.3vw;
    }
}