.custom-fieldset{
    border: 1px solid #b6b6b6;
}

.divbuttons{
    font-size: 8rem;
    text-align: center;
    height: 6rem;
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.imgs{
    gap: 6%;
}

.imgs img{
    border: solid 2px white;
    border-radius: 10px;
}

.img1{
    width: 23vh;
}

.img2{
    width: 32vh;
}

@media screen and (max-width: 992px){
    .pagebody{
        margin: auto 10%;
    }
}

@media screen and (max-width: 576px){
    .pagebody{
        margin: auto 5%;
    }

    .imgs{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }

    .img1{
        width: 16vh;
    }
    
    .img2{
        width: 22vh;
    }

    .custom-fieldset,
    .localization{
        font-size: 1.2rem;
    }
}